.h-input {
    border: 1px solid #bbbbbb;
    height: 40px;
    border-radius: 4px;
    padding: 0 16px;
    box-sizing: border-box;
    width: 100%;
}

.h-input-warning {
    border: 1px solid red;
}

.h-input-icon {
    /* Đang bị lỗi */
}

.h-input:focus {
    border-color: #019160;
    outline: unset;
}

.h-input::placeholder {
    font-size: 11px;
    font-family: Notosans-Italic;
}

.h-input-50 {
    width: 50%;
}

.h-input-100 {
    width: 100%;
}