.h-table {
    border-collapse: collapse;
    width: 100%;
    margin: auto;
    padding: 0 5px;
}

tr {
    height: 48px;
    /* border: 1px solid #e5e5e5; */
}

td,
th {
    padding: 0 8px;
    border-bottom: 1px solid #e5e5e5;
    border-left: 1px solid #e5e5e5;
}


/* Bỏ border đầu tiên */

.h-table tbody td:first-child,
.h-table thead th:first-child {
    border-left: none;
}

.h-table tbody tr:hover {
    background-color: #e5e5e5;
}

table thead th {
    position: sticky;
    top: 0;
    background-color: #bebaba;
    z-index: 0;
}